<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>NRI台湾野村総合研究所 - 文章詳情</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&family=Raleway&display=swap" rel="stylesheet">    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha512-UyNhw5RNpQaCai2EdC+Js0QL4RlVmiq41DkmCJsRV3ZxipG2L0HhTqIf/H9Hp8ez2EnFlkBnjRGJU2stW3Lj+w==" crossorigin="anonymous" />  <link rel="stylesheet" href="assets/css/navbar.css">
  <link rel="stylesheet" href="assets/css/navbar.css">
  <link rel="stylesheet" href="assets/css/timline.css">
  <link rel="stylesheet" href="assets/css/backstage-style.css">
</head>
<body>
  <nav class="navbar fixed-top navbar-light navbar-expand-md navbar-cus" >  
    <a class="navbar-brand" href="index.html">
      <h1 class="navbar-logo">
        <svg width="0px" height="0px" viewBox="0 0 68 35" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" style="cursor: pointer; "><a xlink:href="index.html">
        <path d="M46.16,18.26c3.06,4.64,7.28,10.1,11.91,16H47.53C44,28.7,39.24,22.11,35.39,17.33c5.16-1.15,9.35-3.31,9.35-7.47,0-3-2.16-5.36-7.33-5.36-2.05,0-3.76.14-5.16.14-.14,4.11-.19,8.37-.19,12.62,0,5.8.32,11.59.54,17H25A252.11,252.11,0,0,0,6.56,11.39c-.1,5.94.06,14.75.71,22.86H0c.24-5.4.55-11.19.55-17S.24,5.67,0,.27H8.78A248.16,248.16,0,0,0,25.71,21.49c0-5.86-.12-13.83-.73-21.22C29.15.36,35.31,0,40.33,0S49.49.4,52.2,3.09A7.63,7.63,0,0,1,54.33,8.7C54.33,12.68,51.3,16.38,46.16,18.26ZM68,.27c-.24,5.4-.56,11.2-.56,17s.32,11.59.56,17H58.84c.23-5.4.56-11.19.56-17s-.33-11.59-.56-17Z"></path></a></svg>
      </h1>
    </a>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" aria-expanded="false" href="b__post-article.html">新增文章</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" aria-expanded="false" href="b__article-list.html">文章列表</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-expanded="false" href="b__account-management.html">人員管理</a>
        </li>
      </ul>
    </div>
    <ul class="nav align-items-center justify-content-center" >       
      <li class="nav-item dropdown megamenu">
        <div class="navbar-right-control  font-weight-bold text-uppercase" id="megamneu-2" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          <img src="assets/img//earth.svg" alt="言語切り替え">
        </div>
        <div aria-labelledby="megamneu-2" class="dropdown-menu border-0 p-0 m-0">
          <div class="row bg-white rounded-0 m-0 shadow-sm">
            <div class="col">
              <div class="p-4">
                <ul class="list-unstyled">
                  <li class="p-0 mt-2"><a href="#">CHE</a></li>
                  <li class="p-0 mt-2"><a href="#">ENG</a></li>
                  <li class="p-0 mt-2"><a href="#">JPN</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown megamenu">
        <div  class="navbar-right-control navbar-right-control__hamburger nav-link font-weight-bold text-uppercase" id="megamneu-3" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          <span class="navbar-right-control__hamburger-line"></span>
          <span class="navbar-right-control__hamburger-line"></span>
          <span class="navbar-right-control__hamburger-line"></span>
        </div>
        <div aria-labelledby="megamneu-3" class="dropdown-menu border-0 p-0 m-0">
          <div class="row bg-white rounded-0 m-0 shadow-sm justify-content-end">
            <div class="col">
              <div class="p-4">
                <ul class="list-unstyled">
                  <li class="p-0 mt-2"><a href="b__post-article.html">新增文章</a></li>
                  <li class="p-0 mt-2"><a href="b__article-list.html">文章列表</a></li>
                  <li class="p-0 mt-2"><a href="b__account-management.html">人員管理</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <div id="app__b__article-list__detail" style="margin:80px 0px;">
    <div class="container " >
      <div class="row">
        <div class="col-md-6">
          <div class="card ">
              <div class="card-body" style="padding: 5%;">
                <div class="font-size-1 main-title">文章詳情</div>
                <div class="font-size-4  mt-2" v-on:click="articleDetail__cancel" style="cursor: pointer;"><span class="oi oi-arrow-left mr-2"></span>回上頁</div>

                <div :class="classObj(articleInfo.status)" class="mt-5 font-size-1">{{articleInfo.status}}
                  <span class="font-size-4">[狀態更新時間：{{articleInfo.statusTime}}]</span>
                </div>
                <form class="article-detail mt-5 mb-5">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="detail__author">撰文者</label>
                        <input readonly type="text" class="form-control" id="detail__author" v-model="articleInfo.author">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="detail__author">審核人</label>
                      <input readonly type="text" class="form-control" id="detail__author" v-model="articleInfo.author">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="detail__type">類型</label>
                      <input readonly type="text" class="form-control" id="detail__type" v-model="articleInfo.type">            
                    </div>
                    <div class="form-group col-md-6">
                      <label for="detail__topic">主題</label>
                      <input readonly type="text" class="form-control" id="detail__topic" v-model="articleInfo.topic">            
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="detail__time">日期</label>
                    <input readonly type="text" class="form-control" id="detail__date" v-model="articleInfo.date">
                  </div>
                  <div class="form-group">
                    <label for="detail__title">標題</label>
                    <input readonly type="text" class="form-control" id="detail__title" v-model="articleInfo.title">
                  </div>
                </form>
                <div class="font-size-1 main-title">執行動作</div>
                <form class="mt-5">
                  <div class="form-group">
                    <label for="action__comment">評論回饋[required]</label>
                    <input type="text" class="form-control" id="detail__title" v-model="submitInfo.comment">
                  </div>
                  <div style="text-align: right;">
                    <button type="submit"  :class="classObj__actionBtn(action.currentStatus)" class="btn white transparency-50" >{{action.back}}</button>
                    <button type="submit"  :class="classObj__actionBtn(action.currentStatus)" class="btn white" >{{action.forward}}</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="font-size-1 main-title">審核歷程</div>
              <div class="timeline mt-5">
                <ol class="stateStep inverse">
                  <li class="" title="" v-for="item in articleTimeline">
                    <strong class="status">{{item.status}}</strong>
                    <strong class="date">{{item.date}}</strong><span class="time">{{item.time}}</span>{{item.statusDetail}}
                    <div class="comment">[Comment] {{item.comment}}</div>
                  </li>             
                </ol>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js" integrity="sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/b__article-list__detail.js"></script>
</body>

</html>