body{
  font-family: 'Noto Sans', 'Noto Sans TC', sans-serif !important;
}
.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.navbar-light .navbar-toggler{
  border-color: transparent !important;
  outline: none !important;
}
.theme-blue{
  color: #005bac;
}

.theme-blue-light{
  color: gray;
}

body{
  padding-top: 60px ;
}

a {
  color: rgb(52,52,52);
}

a:hover{
  color:inherit;
  text-decoration:inherit;
}

.navbar{
  background-color: #fff;
}



.latestNews-more {
  text-align: right;
  margin-bottom: 1rem;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.latestNews-more:hover {
  opacity: 0.5;
}

.news-date {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
  margin-top: 0;
  color: rgb(52,52,52);
  text-align: left;
}

.cus-description {
  color: rgb(125, 130, 133);
  font-size: 1rem;
  text-align: left;
}

.cus-description-tag {
  position: absolute;
  font-size: 1rem;
  text-align: right;
}

.cus-box {
  text-align: center;
  padding: 30px;
  background-color: #ECF3FA;
  height: 100%;
  transition: transform 0.1s ;
}

.cus-box:hover {
  transform: translateY(-10px);
}

.cus-item {
  text-align: center;
  margin-bottom: 30px;
}

.cus-description-tag-wrapper {
  text-align: left;
}

.cus-description-tag {
  font-weight: bold;
  background: #eee;
  text-align: center;
  padding: 5px 10px;
  color: #0C419A;
  font-size: 0.9rem;
}

thead tr th {
  color: #005bac;
  font-size: 24px; 
}

.policy-title{
  padding-left: 40px;
  border-left: 5px solid #005bac;
  font-size: 2rem;
}

.policy-img{
  width: 100%; 
  margin-bottom: 20px; 
}

.location-title{
  font-size: 1.5rem;
}

.location-item{
  background-color: #005bac;
  padding: 2px 6px;
  border-radius: 10%;
  color: white;
}

@media (max-width:767px) {
  .policy-img{
    height:200px; 
    object-fit:cover;
  }
  .policy-title{
    padding-left: 20px;
    font-size: 1.5rem;
  }
  .location-title{
    font-size: 1.2rem;
  }
}


/*footer*/
.cus-footer{
  border-top: 1px solid #f4f4ff;
  margin-top: 40px;
}

.cus-footer a{
  font-size: 1rem;
  color: #4B4C4D;
  margin-right: 1rem;
}


/*department Overview*/
.service-content-list{
  padding-left: 45px;
  margin-top: 20px;
}

.ul-type{
  list-style-type: square;
}

ul, li{
  padding-left: 20px;
}

.pic-first{
  display: none;
}


@media (max-width:767px) {
  ul, li{
    padding-left: 10px;
  }
  .service-content-list{
    padding-left: 25spx;
  }
  .pic-first{
    display: block;
  }
  .pic-second{
    display: none;
  }
}

.carousel-item__card{
}

.carousel-item__img{
  height: 650px;
  object-fit: cover;

}
.carousel-item__title{
  font-weight: bold;
  position: absolute;
  color: #FFFFFF;
  font-size: 2.5rem;
  line-height: 3rem;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  top: 42%;
  left: 10%;
  margin-right: 16%;
}
.carousel-item__subTitle{
  position: absolute;
  color: #FFFFFF;
  font-size: 1.2rem;
  line-height: 2rem;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  top: 36%;
  left: 10%;
  margin-right: 16%;

}
.carousel-item__tag{
  position: absolute;
  top: 24%;
  left: 10%;
  margin-right: 16%;
  padding: 10px 80px 10px 15px;
  font-weight: bold;
  background: #eee;
  text-align: center;
  padding: 5px 10px;
  color: #0C419A;
  font-size: 1rem;
}

.carousel-item__btn{
  font-weight: bold;
  position: absolute;
  color: #FFFFFF;
  font-size: 1.2rem;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  top: 80%;
  left: 10%;
  margin-right: 16%;
  padding: 10px 80px 10px 15px;
  text-align: right;
  background-color: #004196;
}

.carousel-item__btn:hover{
  background-color: rgb(125, 130, 133);
  cursor: pointer;
}

/*** navbar ***/
.navbar-cus{
  border-bottom: 1px solid #f4f4ff;
  height: 90px;
}
.nav-typesetting{
  height: 30px;
}
.navbar-logo{
  width: auto;
  padding-left: 35px;
}
.navbar-logo svg {
  width: 58px;
  height: 29.22px;
}
.navbar-logo svg path {
  fill: #005bac;
}





.navbar-right-control{
  cursor: pointer;
}
.navbar-right-control__hamburger {
  width: 20px;
  height: 16px;
  position: relative;
  padding: 0;
}
.navbar-right-control__hamburger .navbar-right-control__hamburger-line:nth-child(1) {
  top: 0;
}
.navbar-right-control__hamburger .navbar-right-control__hamburger-line:nth-child(2) {
  top: calc(14px / 2);
}
.navbar-right-control__hamburger .navbar-right-control__hamburger-line:nth-child(3) {
  bottom: 0;
}
.navbar-right-control__hamburger .navbar-right-control__hamburger-line {
  position: absolute;
  left: 0;
  height: 2px;
  background: #111;
  width: 100%;
  display: block;
}

.img-size{
  max-width: 100%;
  height: auto;
}

.insight-btn{
  height: 20px;
}

.section-title{
  margin: 0;
}
.section-describe{
  color: #999999;
  font-weight: normal;
}

.careers-img{
  width: 100%;
  height: 600px;
  object-fit:cover;
}

.careers-Title{
  width: 100%;
  padding: 0px 20px;
  font-weight: bold;
  position: absolute;
  color: #fff;
  font-size: 5rem;
  line-height: 5rem;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  top: 40%;
  text-align: center;
}

.careers-btn-wrapper{
  width: 100%;
  font-weight: bold;
  position: absolute;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  top: 60%;
  text-align: center;
}

.careers-btn-wrapper span{
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  background-color: #004196;
  padding: 7px 45px 7px 45px;

}


.careers-btn-wrapper span:hover{
  background-color: rgb(125, 130, 133);
  cursor: pointer;
}

@media (max-width:767px) {
  .carousel-item__btn{
    top: 80%;
  }
  .carousel-item__tag{
    font-size: 0.9rem;
    top: 14%;
  }
  .carousel-item__title{
    font-size: 2rem;
    line-height: 2.5rem;
    top: 32%;
  }
  
  .carousel-item__subTitle{
    font-size: 1.2rem;
    line-height: 2rem;
    top: 25%;
  
  }
  .cus-navbar{
    height: 70px;
  }
  .nav-typesetting{
    height: 10px;
  }
  .cus-navbar_logo {
    max-width: 75px;
  }
  .cus-navbar_logo{
    padding-left: 0px;
  }

  .careers-Title{
    font-size: 4rem;
    top: 30%;
  }
  .careers-btn-wrapper{
    top: 80%;
  }
}



.megamenu {
  position: static;
}

.megamenu ul{
  list-style-type: none;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}

.text-uppercase {
  letter-spacing: 0.08em;
}

._input {
  width: 30rem;
  padding:5px; 
  border:1px solid #111;
  cursor:pointer;
  -webkit-border-radius: 20px;
  border-radius: 20px; 
}

.fliter-tag{
  border:1px solid #111;
  -webkit-border-radius: 20px;
  border-radius: 20px; 
  cursor:pointer;
  padding: 5px 10px;

}

.fliter-tag:hover{
  border:0 none;
  background-color: #999999;
  color: white;
  -webkit-border-radius: 20px;
  border-radius: 20px; 
}

.bread-crumbs{
  font-weight: bold;
  margin: 20px 0px;
  font-size: 1rem;
  color: #333333;
}


.page__title{
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.page__sub-title{
  text-align: center;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page__filter-wapper{
  display: flex;
  justify-items: start;
  margin: 20px 0px;
}
.page__filter-item{
  margin-right: 20px;
  cursor: pointer;
}
.page__filter-item:hover{
  color: #999999;
}
.page__section{
  margin-bottom: 20px;
}

.card__right-img{
  flex-direction: row;
}

.card__right-img img {
  width: 31.5%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card__right-img .card-title, .card__cus .card-title {
  font-weight: bold;
  font-size: 1rem;
}

.card__right-img .card-text, .card__cus .card-text {
  font-size: 1rem;
}

.card__cus .card-tag{
  font-size: 0.8rem;
  padding: 5px 10px;
  color: #005bac;
  background: #f4f4f4;
  width: fit-content;
}

.card__cus .card-date{
  font-size: 0.8rem;
}

.myCarousel .card-date{
  font-size: 0.7rem;
}


.card__cus .card-description{
  font-size: 1rem;
  color: #333333;
  line-height: 1.5rem;
}

.card__cus .card-title, .card__cus .card-date, .card__cus .card-tag{
  margin-bottom: 0.5rem;
}




.more-btn-wrapper{
  width: 100%;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  text-align: center;
  overflow: auto;  
  padding: 7px 45px 7px 45px;
}
.more-btn-wrapper span{
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
  background-color: #004196;
  padding: 7px 45px 7px 45px;
}
.more-btn-wrapper span:hover{
  background-color: rgb(125, 130, 133);
  cursor: pointer;
}



.nriinsight__article-tag, .nriinsight__article-author{
  font-size: 1rem;
  padding: 5px 0px;
}
.nriinsight__article-tag span{
  color: #005bac;
  background: #f4f4f4;  
  padding: 5px 10px;
  margin-right: 10px;
}
.nriinsight__article-date{
  font-size: 1rem;
}
.nriinsight__article-title{
  font-size: 2rem;
  font-weight: bold;
}
.nriinsight__img-fluid{
  width: auto;
  height: 400px;
  object-fit:cover;
}
.nriinsight__article-grid{
  padding: 0px 10%;
}
.nriinsight__article-content{
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}
.nriinsight__article-tag, .nriinsight__article-date, .nriinsight__article-title, .nriinsight__article-content{
  margin-bottom: 0.5rem;
}


.card__solution .card-tag{
  font-size: 1.2rem;
  color: #333333;
  font-weight: bold;
}
.card__solution .card-description{
  font-size: 1rem;
  color: #333333;
  line-height: 1.5rem;
}

.card__solution .card-more-btn{
  margin-top: 1rem;
  font-size: 0.8rem;
  padding: 5px 0px;
  text-align: end;
}
.card__solution .card-more-btn span{
  color: #333333;
  background: #f4f4f4;  
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}
.card__solution .card-more-btn span:hover{
  color: white;
  background: rgb(160, 185, 225);  
}

.card-typesetting{
  visibility: hidden;
}

.btn-tag{
  color: #4B4C4D;
  background-color:none;
  border-color: #4B4C4D;
  border-radius: 0.5rem;
  margin-right: 0.2rem;
  padding: .2rem .75rem;
  cursor: pointer;
}

.btn-tag.active{
  color: white;
  background-color:#4B4C4D;
}

.typesetting_section{
  height: 40px;
}
@media only screen and (max-width: 768px) {
  .typesetting_section{
    height: 20px;
  }
  .nriinsight__article-title{
    font-size: 2rem;
  }
  .nriinsight__article-content{
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  .card__right-img .card-body {
    padding: 1.2em 1.2em;
  }
  .card__right-img .card-body .card-text {
    margin: 0;
  }
  .card__right-img img {
    width: 50%;
    object-fit:cover;
  }
  .card-deck .card{
    flex: none;
    margin: 15px;
  }
  .card-typesetting{
    display: none;
  }
  ._input {
    width: 18rem;
  }
}
@media only screen and (max-width: 1200px) {
  .card__right-img img {
    width: 31%;
    object-fit:cover;
  }
}


/* Tablet and up */

@media screen and (min-width: 768px) {
  .myCarousel .carousel-inner .active,
  .myCarousel .carousel-inner .active+.carousel-item {
    display: block;
  }
  .myCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .myCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .myCarousel .carousel-inner .carousel-item-next,
  .myCarousel .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .myCarousel .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .myCarousel .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .myCarousel .carousel-item-next.carousel-item-left+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .myCarousel .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .myCarousel .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .myCarousel .carousel-item-prev.carousel-item-right+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* Desktop and up */

@media screen and (min-width: 992px) {
  .myCarousel .carousel-inner .active,
  .myCarousel .carousel-inner .active+.carousel-item,
  .myCarousel .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;
  }
  .myCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .myCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .myCarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .myCarousel .carousel-inner .carousel-item-next,
  .myCarousel .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .myCarousel .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .myCarousel .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .myCarousel .carousel-item-next.carousel-item-left+.carousel-item,
  .myCarousel .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .myCarousel .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .myCarousel .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .myCarousel .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .myCarousel .carousel-item-prev.carousel-item-right+.carousel-item,
  .myCarousel .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .myCarousel .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 993px) {
  .myCarousel .carousel-item{
    margin-right:0;
  }
}


.myCarousel .card{
  height: 100%;
  box-shadow: 0 0 1rem rgba(0,0,0,.15);
  cursor: pointer;
}

.myCarousel .card:hover{
  box-shadow: none;
}

.nriinsight__article-content-sub-title{
  color: rgb(70, 126, 184);
}

.card__news{
  box-shadow: 0 0 1rem rgba(0,0,0,.15);
  cursor: pointer;
}
.card__news:hover{
  box-shadow: none;
}
.bread-crumbs i{
  margin: 0 0.5rem;
}

.nrinews-top-background{
  background: #f4f4f4;
  padding: 1rem 2rem;
}

