.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}

.navbar-light .navbar-toggler{
  border-color: transparent !important;
  outline: none !important;
}
.theme-blue{
  color: #005bac;
}

.theme-blue-light{
  color: gray;
}

body{
  padding-top: 60px ;
}

a {
  color: rgb(52,52,52);
}

a:hover{
  color:inherit;
  text-decoration:inherit;
}

.navbar{
  background-color: #fff;
}

.headerLogo{
  width: auto;
  padding-left: 36px;
  margin: 0;
}

.headerLogo svg path {
  fill: #005bac;
}

.headerLogo svg {
  width: 58px;
  height: 29.22px;
  transition: all .4s;
}

.latestNews-more {
  text-align: right;
  margin-bottom: 1rem;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.latestNews-more:hover {
  opacity: 0.5;
}

.news-date {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
  margin-top: 0;
  color: rgb(52,52,52);
  text-align: left;
}

.cus-description {
  color: rgb(125, 130, 133);
  font-size: 1rem;
  text-align: left;
}

.cus-description-tag {
  font-size: 1rem;
  text-align: right;
}

.cus-box {
  text-align: center;
  padding: 30px;
  background-color: #ECF3FA;
  height: 100%;
  transition: transform 0.1s ;
}

.cus-box:hover {
  transform: translateY(-10px);
}

.cus-item {
  text-align: center;
  margin-bottom: 30px;
}

.cus-description-tag-wrapper {
  text-align: left;
  margin-top: 10px;
}

.cus-description-tag {
  background: rgb(232,232,232);
  text-align: center;
  padding: 5px 10px;
  color: rgb(14, 46, 138);
  font-size: 0.9rem;
  border-radius: 5px;
}

thead tr th {
  color: #005bac;
  font-size: 24px; 
}

.policy-title{
  padding-left: 40px;
  border-left: 5px solid #005bac;
  font-size: 2rem;
}

.policy-img{
  width: 100%; 
  margin-bottom: 20px; 
}

.location-title{
  font-size: 1.5rem;
}

.location-item{
  background-color: #005bac;
  padding: 2px 6px;
  border-radius: 10%;
  color: white;
}

@media (max-width:767px) {
  .policy-img{
    height:200px; 
    object-fit:cover;
  }
  .policy-title{
    padding-left: 20px;
    font-size: 1.5rem;
  }
  .location-title{
    font-size: 1.2rem;
  }
}


/*footer*/
.cus-footer{
  border-top: 1px solid #f4f4ff;
  margin-top: 40px;
}


/*department Overview*/
.service-content-list{
  padding-left: 45px;
  margin-top: 20px;
}

.ul-type{
  list-style-type: square;
}

ul, li{
  padding-left: 20px;
}

.pic-first{
  display: none;
}


@media (max-width:767px) {
  ul, li{
    padding-left: 10px;
  }
  .service-content-list{
    padding-left: 25spx;
  }
  .pic-first{
    display: block;
  }
  .pic-second{
    display: none;
  }
}